{% extends "layout.html" %}

{% block body %}
    <a href="{{  url_for('home')  }}">Home</a>
    |
    <a href="{{  url_for('create')  }}">Create New Profile</a>
    |
    <a href="{{  url_for('create_game')  }}">Create Game Record</a>
    <br>
    <hr>
    <br>
    {% for game in games %}
        {{ game.replay_id }} | {{ game.hero_name }} | {{ game.game_duration }} | {{ game.win_loss }} |
        <a href="{{  url_for('updategame', game_id=game.replay_id)  }}">Update</a>
        /
        <a href="{{  url_for('deletegame', game_id=game.replay_id)  }}">Delete</a>
        <br>
        <hr>
    {% endfor %}

{% endblock body %}